html
	head
		title Node SPA
		link(href='/styles/bootstrap.css', rel='stylesheet')
		link(href='/styles/font-awesome.css', rel='stylesheet')
	body
		h1 Welcome to Node SPA
		script(src='/scripts/angular.js')
		script(src='/scripts/angular-route.js')
		script(src='/scripts/app.js')